.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-family: 'Encode Sans Condensed', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.infoButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    border: 2px solid var(--purple);
    cursor: pointer;
}

.infoIcon {
    color: var(--purple);
    font-size: 0.5rem;
    font-weight: 700;
}

.input {
    outline: none;
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 0.45rem 0.7rem;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
}

.inlineInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.inlineInputContainer .label {
    padding-top: 0.2rem;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.3rem;
    align-self: flex-start;
    border: 2px solid var(--gray);
    outline: none;
    width: 1.15rem;
    height: 1.15rem;
    margin-left: 0.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--purple);
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.lockedValue {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray);
    margin-bottom: 0.5rem;
    cursor: pointer;
}