.input {
    position: relative;
    outline: none;
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 0.3rem 0.6rem;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.placeholderInput {
    position: relative;
    color: var(--gray);
    outline: none;
    border: 2px solid var(--purple);
    border-radius: 5px;
    padding: 0.45rem 0.7rem;
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.option {
    color: var(--black);
    cursor: pointer;
    margin-bottom: 0.3rem;
}

.option:hover {
    background-color: var(--light-purple);
}

.optionsContainer {
    position: absolute;
    background-color: var(--white);
    border-radius: 5px;
    margin-top: 0.45rem;
    z-index: 10;
    width: max-content;
    max-height: 150px;
    overflow-y: auto;
    padding: 0.5rem;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.4);
}

.checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 2px solid var(--gray);
    border-radius: 3px;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
    color: var(--purple);
    font-weight: BOLD;
}

.checked {
    background-color: var(--purple);
    border-color: var(--purple);
    color: var(--white);
}

.selectedOption {
    display: inline-block;
    background-color: var(--light-purple);
    color: var(--purple);
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}